{% macro title(page) %}
    <header class="post__header">
        <span class="post__title">
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </span>
        <span class="post__meta">
            <span class="post__time">{{ page.date | date(format="%F") }}</span>
            {% if page.category %}
                <div class="post__category">
                    <a href="{{ get_taxonomy_url(kind="category", name=page.category) }}">{{ page.category }}</a>
                </div>
            {% endif %}
        </span>
    </header>
{% endmacro title %}
